In [110]:
import pandas as pd
import numpy as np
from scipy import stats
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score , confusion_matrix 
from sklearn.model_selection import train_test_split

In [111]:
# load data
df = pd.read_csv("att_df.csv",index_col=0)
business = pd.read_csv('bars_business.csv')
df = pd.concat([df,pd.DataFrame(business.stars)], axis=1)

In [112]:
# df.NoiseLevel = df.NoiseLevel.fillna('NoValue')
df.WiFi = df.WiFi.fillna('no')
# df.Alcohol = df.Alcohol.fillna('NoValue')
# df.replace(to_replace=None, value=np.nan, inplace=True)

df.BikeParking = df.BikeParking.fillna('False')
df.BusinessAcceptsCreditCards = df.BusinessAcceptsCreditCards.fillna('False')
df.RestaurantsReservations = df.RestaurantsReservations.fillna('False')
df.RestaurantsTakeOut = df.RestaurantsTakeOut.fillna('False')
df.RestaurantsDelivery = df.RestaurantsDelivery.fillna('False')
df.HasTV = df.HasTV.fillna('False')
df.RestaurantsGoodForGroups = df.RestaurantsGoodForGroups.fillna('False')
df.HappyHour = df.HappyHour.fillna('False')
df.OutdoorSeating = df.OutdoorSeating.fillna('False')

In [113]:

# solve 'u' and transfer string 
for i in range(df.shape[0]):
  if isinstance(df.NoiseLevel[i], str) and df.NoiseLevel[i][0] == 'u':
    df.NoiseLevel[i] = df.NoiseLevel[i][1:]
  if isinstance(df.WiFi[i], str) and df.WiFi[i][0] == 'u':
    df.WiFi[i] = df.WiFi[i][1:]
  if isinstance(df.Alcohol[i], str) and df.Alcohol[i][0] == 'u':
    df.Alcohol[i] = df.Alcohol[i][1:]
  if(isinstance(df.BusinessParking[i], str)):
    df.BusinessParking[i] = eval(df.BusinessParking[i])
  if(isinstance(df.Music[i], str)):
    df.Music[i] = eval(df.Music[i])
  if(isinstance(df.Ambience[i], str)):
    df.Ambience[i] =eval(df.Ambience[i])
  # df.BikeParking[i] = eval(df.BikeParking[i])
  # df.BusinessAcceptsCreditCards[i] = eval(df.BusinessAcceptsCreditCards[i])
  df.RestaurantsReservations[i] = eval(df.RestaurantsReservations[i])
  if(isinstance(df.RestaurantsTakeOut[i], str)):
    df.RestaurantsTakeOut[i] = eval(df.RestaurantsTakeOut[i])
  if(isinstance(df.RestaurantsDelivery[i], str)):
    df.RestaurantsDelivery[i] = eval(df.RestaurantsDelivery[i])
  if(isinstance(df.HasTV[i], str)):
    df.HasTV[i] = eval(df.HasTV[i])
  # df.RestaurantsPriceRange2[i] = eval(df.RestaurantsPriceRange2[i])
  # df.RestaurantsGoodForGroups[i] = eval(df.RestaurantsGoodForGroups[i])
  df.OutdoorSeating[i] = eval(df.OutdoorSeating[i])
  # df.HappyHour[i] = eval(df.HappyHour[i])
  if(isinstance(df.NoiseLevel[i], str)):
    df.NoiseLevel[i] = eval(df.NoiseLevel[i])
  if(isinstance(df.WiFi[i], str) and df.WiFi[i]!='no'):
    df.WiFi[i] = eval(df.WiFi[i])
  if(isinstance(df.Alcohol[i], str)):
    df.Alcohol[i] = eval(df.Alcohol[i])
# # drop NaN
# df = df.dropna(axis=0, how='any')
# df = df.reset_index(drop=True)

<ipython-input-113-3448e932c376>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.NoiseLevel[i] = df.NoiseLevel[i][1:]
<ipython-input-113-3448e932c376>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.WiFi[i] = df.WiFi[i][1:]
<ipython-input-113-3448e932c376>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Alcohol[i] = df.Alcohol[i][1:]
<ipython-input-113-3448e932c376>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.BusinessParking[i] = eval(df.BusinessParking[i])
<ipython-input-113-3448e932c376>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Music[i] = eval(df.Music[i])
<ipython-input-113-3448e932c376>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Ambience[i] =eval(df.Ambience[i])
<ipython-input-113-3448e932c376>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.RestaurantsReservations[i] = eval(df.RestaurantsReservations[i])
<ipython-input-113-3448e932c376>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.RestaurantsTakeOut[i] = eval(df.RestaurantsTakeOut[i])
<ipython-input-113-3448e932c376>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.RestaurantsDelivery[i] = eval(df.RestaurantsDelivery[i])
<ipython-input-113-3448e932c376>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.OutdoorSeating[i] = eval(df.OutdoorSeating[i])
<ipython-input-113-3448e932c376>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.NoiseLevel[i] = eval(df.NoiseLevel[i])
<ipython-input-113-3448e932c376>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.WiFi[i] = eval(df.WiFi[i])
<ipython-input-113-3448e932c376>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Alcohol[i] = eval(df.Alcohol[i])
<ipython-input-113-3448e932c376>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.HasTV[i] = eval(df.HasTV[i])

In [114]:
df.BikeParking = df.BikeParking.fillna(False)
df.BusinessAcceptsCreditCards = df.BusinessAcceptsCreditCards.fillna(False)
df.RestaurantsReservations = df.RestaurantsReservations.fillna(False)
df.RestaurantsTakeOut = df.RestaurantsTakeOut.fillna(False)
df.RestaurantsDelivery = df.RestaurantsDelivery.fillna(False)
df.HasTV = df.HasTV.fillna(False)
df.RestaurantsGoodForGroups = df.RestaurantsGoodForGroups.fillna(False)
df.HappyHour = df.HappyHour.fillna(False)
df.OutdoorSeating = df.OutdoorSeating.fillna(False)

In [115]:
df.RestaurantsTakeOut[6]

False

In [116]:
df.head()

,NoiseLevel,BikeParking,BusinessAcceptsCreditCards,BusinessParking,RestaurantsReservations,RestaurantsTakeOut,WiFi,RestaurantsDelivery,HasTV,RestaurantsPriceRange2,Alcohol,Music,RestaurantsGoodForGroups,OutdoorSeating,HappyHour,Ambience,stars
0,average,False,True,"{'garage': True, 'street': False, 'validated':...",False,True,free,False,True,2.0,full_bar,"{'dj': False, 'background_music': False, 'no_m...",False,False,False,"{'touristy': None, 'hipster': False, 'romantic...",3.5
1,average,False,True,"{'garage': False, 'street': False, 'validated'...",True,True,free,True,True,2.0,full_bar,"{'dj': False, 'background_music': False, 'no_m...",True,False,True,"{'touristy': False, 'hipster': False, 'romanti...",4.5
2,average,True,False,"{'garage': False, 'street': False, 'validated'...",True,True,free,True,True,2.0,full_bar,"{'dj': False, 'background_music': False, 'no_m...",True,True,True,"{'touristy': False, 'hipster': False, 'romanti...",3.5
3,average,True,True,"{'garage': False, 'street': True, 'validated':...",True,False,no,False,False,2.0,full_bar,"{'dj': False, 'background_music': False, 'no_m...",True,False,False,"{'touristy': False, 'hipster': False, 'romanti...",4.0
4,NaN,False,False,NaN,False,False,no,False,False,NaN,NaN,NaN,False,True,False,NaN,3.5

In [117]:
# BusinessParking df
df_bp = pd.DataFrame(df.BusinessParking)

In [118]:
df_bp

                                        BusinessParking
0     {'garage': True, 'street': False, 'validated':...
1     {'garage': False, 'street': False, 'validated'...
2     {'garage': False, 'street': False, 'validated'...
3     {'garage': False, 'street': True, 'validated':...
4                                                   NaN
...                                                 ...
1333  {'garage': False, 'street': False, 'validated'...
1334  {'garage': True, 'street': True, 'validated': ...
1335  {'garage': False, 'street': False, 'validated'...
1336  {'garage': False, 'street': True, 'validated':...
1337                                                NaN

[1338 rows x 1 columns]

In [119]:
# insert new cols in df_bp
df_bp.insert(df_bp.shape[1], 'garage', None)
df_bp.insert(df_bp.shape[1], 'street', None)
df_bp.insert(df_bp.shape[1], 'valet', None)
df_bp.insert(df_bp.shape[1], 'validated', None)
df_bp.insert(df_bp.shape[1], 'lot', None)

In [120]:
# give values
for i in range(df_bp.shape[0]):
  if(isinstance(df_bp.BusinessParking[i], dict) and 'garage' in df_bp.BusinessParking[i].keys()):
    df_bp.garage[i] = df_bp.BusinessParking[i]['garage']
  if(isinstance(df_bp.BusinessParking[i], dict) and 'street' in df_bp.BusinessParking[i].keys()):
    df_bp.street[i] = df_bp.BusinessParking[i]['street']
  if(isinstance(df_bp.BusinessParking[i], dict) and 'valet' in df_bp.BusinessParking[i].keys()):
    df_bp.valet[i] = df_bp.BusinessParking[i]['valet']
  if(isinstance(df_bp.BusinessParking[i], dict) and 'validated' in df_bp.BusinessParking[i].keys()):
    df_bp.validated[i] = df_bp.BusinessParking[i]['validated']
  if(isinstance(df_bp.BusinessParking[i], dict) and 'lot' in df_bp.BusinessParking[i].keys()):
    df_bp.lot[i] = df_bp.BusinessParking[i]['lot']
df_bp = df_bp.drop("BusinessParking", axis=1)
df_bp = df_bp.fillna(False)

In [121]:
df_bp.head()

   garage  street  valet  validated    lot
0    True   False  False      False  False
1   False   False  False      False   True
2   False   False   True      False   True
3   False    True  False      False   True
4   False   False  False      False  False

In [122]:
# Music df
df_m = pd.DataFrame(df.Music)

In [123]:
# insert new cols in df_m
df_m.insert(df_m.shape[1], 'dj', None)
df_m.insert(df_m.shape[1], 'background_music', None)
df_m.insert(df_m.shape[1], 'no_music', None)
df_m.insert(df_m.shape[1], 'jukebox', None)
df_m.insert(df_m.shape[1], 'live', None)
df_m.insert(df_m.shape[1], 'video', None)
df_m.insert(df_m.shape[1], 'karaoke', None)

In [124]:
# give values
for i in range(df_m.shape[0]):
  if(isinstance(df_m.Music[i], dict) and 'dj' in df_m.Music[i].keys()):
    df_m.dj[i] = df_m.Music[i]['dj']
  if(isinstance(df_m.Music[i], dict) and 'background_music' in df_m.Music[i].keys()):
    df_m.background_music[i] = df_m.Music[i]['background_music']
  if(isinstance(df_m.Music[i], dict) and 'no_music' in df_m.Music[i].keys()):
    df_m.no_music[i] = df_m.Music[i]['no_music']
  if(isinstance(df_m.Music[i], dict) and 'jukebox' in df_m.Music[i].keys()):
    df_m.jukebox[i] = df_m.Music[i]['jukebox']
  if(isinstance(df_m.Music[i], dict) and 'live' in df_m.Music[i].keys()):
    df_m.live[i] = df_m.Music[i]['live']
  if(isinstance(df_m.Music[i], dict) and 'video' in df_m.Music[i].keys()):
    df_m.video[i] = df_m.Music[i]['video']
  if(isinstance(df_m.Music[i], dict) and 'karaoke' in df_m.Music[i].keys()):
    df_m.karaoke[i] = df_m.Music[i]['karaoke']
df_m = df_m.drop("Music", axis=1)
df_m = df_m.fillna(False)

In [125]:
df_m

         dj  background_music  no_music  jukebox   live  video  karaoke
0     False             False     False    False  False  False    False
1     False             False     False    False   True  False    False
2     False             False     False    False  False  False    False
3     False             False     False    False  False  False    False
4     False             False     False    False  False  False    False
...     ...               ...       ...      ...    ...    ...      ...
1333  False             False     False    False  False  False    False
1334  False             False     False    False  False  False    False
1335  False             False     False    False  False  False    False
1336  False             False     False    False  False  False    False
1337  False             False     False    False  False  False    False

[1338 rows x 7 columns]

In [126]:
# Ambience df
df_a = pd.DataFrame(df.Ambience)

In [127]:
# insert new cols in df_m
df_a.insert(df_a.shape[1], 'touristy', None)
df_a.insert(df_a.shape[1], 'hipster', None)
df_a.insert(df_a.shape[1], 'romantic', None)
df_a.insert(df_a.shape[1], 'divey', None)
df_a.insert(df_a.shape[1], 'intimate', None)
df_a.insert(df_a.shape[1], 'trendy', None)
df_a.insert(df_a.shape[1], 'upscale', None)
df_a.insert(df_a.shape[1], 'classy', None)
df_a.insert(df_a.shape[1], 'casual', None)

In [128]:
# give values
for i in range(df_a.shape[0]):
  if(isinstance(df_a.Ambience[i], dict) and 'touristy' in df_a.Ambience[i].keys()):
    df_a.touristy[i] = df_a.Ambience[i]['touristy']
  if(isinstance(df_a.Ambience[i], dict) and 'hipster' in df_a.Ambience[i].keys()):
    df_a.hipster[i] = df_a.Ambience[i]['hipster']
  if(isinstance(df_a.Ambience[i], dict) and 'romantic' in df_a.Ambience[i].keys()):
    df_a.romantic[i] = df_a.Ambience[i]['romantic']
  if(isinstance(df_a.Ambience[i], dict) and 'divey' in df_a.Ambience[i].keys()):
    df_a.divey[i] = df_a.Ambience[i]['divey']
  if(isinstance(df_a.Ambience[i], dict) and 'intimate' in df_a.Ambience[i].keys()):
    df_a.intimate[i] = df_a.Ambience[i]['intimate'] 
  if(isinstance(df_a.Ambience[i], dict) and 'trendy' in df_a.Ambience[i].keys()):
    df_a.trendy[i] = df_a.Ambience[i]['trendy']
  if(isinstance(df_a.Ambience[i], dict) and 'upscale' in df_a.Ambience[i].keys()):
    df_a.upscale[i] = df_a.Ambience[i]['upscale']
  if(isinstance(df_a.Ambience[i], dict) and 'classy' in df_a.Ambience[i].keys()):
    df_a.classy[i] = df_a.Ambience[i]['classy']
  if(isinstance(df_a.Ambience[i], dict) and 'casual' in df_a.Ambience[i].keys()):
    df_a.casual[i] = df_a.Ambience[i]['casual']
df_a = df_a.drop("Ambience", axis=1)
df_a = df_a.fillna(False)

In [129]:
df_a.head()

,touristy,hipster,romantic,divey,intimate,trendy,upscale,classy,casual
0,False,False,False,False,False,False,False,True,True
1,False,False,True,False,False,True,False,True,True
2,False,False,False,False,False,True,False,True,True
3,False,False,False,False,True,True,False,True,True
4,False,False,False,False,False,False,False,False,False

In [130]:
df1=df.drop(['BusinessParking','Music','Ambience'],axis=1)
df_bp=pd.concat([df_bp,pd.DataFrame(df1.stars)], axis=1)
df_m=pd.concat([df_m,pd.DataFrame(df1.stars)], axis=1)
df_a=pd.concat([df_a,pd.DataFrame(df1.stars)], axis=1)
# drop NaN
df1 = df1.dropna(axis=0,how='any')
df1 = df1.reset_index(drop=True)

In [131]:
# Write .csv
df1.to_csv('df_main.csv')
df_bp.to_csv('df_businessparking.csv')
df_m.to_csv('df_music.csv')
df_a.to_csv('df_ambience.csv')